

<!-- footer part start-->
<footer class="footer-area">
    <div class="footer section_padding">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-4 col-sm-4 single-footer-widget">
                    <a href="#" class="footer_logo"> <img src="img/logo.png" alt="#"> PSYHEALTH </a>
                    <p>Our attempt to provide better health care facilities to the Needy.<br><br> Mental Health is as important as Physical Health.</p>
                    <div class="social_logo">
                        <a href="#"><i class="ti-facebook"></i></a>
                        <a href="#"> <i class="ti-twitter"></i> </a>
                        <a href="#"><i class="ti-instagram"></i></a>
                        <a href="#"><i class="ti-skype"></i></a>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 single-footer-widget ">
                    <div>
                        <h4>Quick Links</h4>
                        <ul>
                            <li ><a href="/#about_us">About us</a></li>
                            <li><a href="/services"> Services</a></li>
                            <li><a href="/appointment">Appointment</a></li>
                            <li><a href="/#contact_us">Contact Us</a></li>
                            <li><a href="/login">Login</a> / <a href="/signup">Sign-Up</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 single-footer-widget">
                        <h4>Our Mission</h4>
                        <p>Our mission is to promote optimal mental health through advocacy, education and support. <br><br></p>
                        <h4>Our Vision</h4>
                        <p>A society where mental wellness is the foundation of a healthy community.</p>    
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright_part">
        <div class="container">
            <div class="row align-items-center">
                <p class="footer-text m-0 col-lg-8 col-md-12" style="color: white;"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This Website is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="#about_us">US</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
                <div class="col-lg-4 col-md-12 text-center text-lg-right footer-social">
                    <a href="#"><i class="ti-facebook"></i></a>
                    <a href="#"> <i class="ti-twitter"></i> </a>
                    <a href="#"><i class="ti-instagram"></i></a>
                    <a href="#"><i class="ti-skype"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer part end-->

<!-- jquery plugins here-->

<script src="js/jquery-1.12.1.min.js"></script>
<!-- popper js -->
<script src="js/popper.min.js"></script>
<!-- bootstrap js -->
<script src="js/bootstrap.min.js"></script>
 <script src="https://smtpjs.com/v3/smtp.js"></script>
<!-- owl carousel js -->
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<!-- contact js -->
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/jquery.form.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/mail-script.js"></script>
<script src="js/contact.js"></script>
<!-- custom js -->
<script src="js/custom.js"></script>
<!-- Zoom Meeting Call -->
<script src="js/index.js"></script>
<!-- Sweet Alert js -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<!--JavaScript at end of body for optimized loading-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="static/js/materialize.min.js"></script>

<!--Main Script -->
<script type="text/javascript" src="static/js/script.js"></script>

<!--Chart.js Script -->
<script type="text/javascript" src="static/js/chart.min.js"></script>

<!-- Data AOS -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>

</body>

</html>