<%- include("Partials/header.ejs")  %>

    <!-- feature_part start-->
    <section class="feature_part single_feature_page">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <div class="section_tittle text-center">
                        <h2>Our Services</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-3 col-sm-12">
                    <div class="single_feature">
                        <div class="single_feature_part">
                            <span class="single_feature_icon"><img src="img/icon/feature_1.svg" alt=""></span>
                            <h4>Book an Appointment</h4>
                            <p>We have experienced doctors with whom you can get in touch with to discuss medical concerns.</p>
                        </div>
                    </div>
                    <div class="single_feature">
                        <div class="single_feature_part">
                            <span class="single_feature_icon"><img src="img/icon/feature_2.svg" alt=""></span>
                            <h4>Interact with Our Chatbot</h4>
                            <p>In a pickle regarding your mental health? Before booking an appointment, feel free to interact with our chatbot for guidance.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                        <div class="single_feature_img">
                            <img src="img/service.png" alt="">
                        </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <div class="single_feature">
                        <div class="single_feature_part">
                            <span class="single_feature_icon"><img src="img/icon/feature_1.svg" alt=""></span>
                            <h4>Doctor-Patient Confidentiality</h4>
                            <p>With us, your details are safe. We preserve your anonymity, enabling you to discuss your issues freely.</p>
                        </div>
                    </div>
                    <div class="single_feature">
                        <div class="single_feature_part">
                            <span class="single_feature_icon"><img src="img/icon/feature_2.svg" alt=""></span>
                            <h4>Interactive Sessions</h4>
                            <p>Attend webinars and workshops organized by our team to highlight mental health and create awareness.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- feature_part start-->

<%- include("Partials/footer.ejs")  %> 